.table{
    // .cellWrapper{
    //     display: flex;
    //     align-items: center;

    //     .image{
    //         width: 70px;
    //         height: 70px;
    //         border-radius: 50%;
    //         margin-right: 10px;
    //         object-fit: cover;
    //     }
    // }
    

    .status{
        display: inline-block;
        padding: 5px;
        border-radius: 5px;
        width: auto;

        &.pending{
            color: red;
            background-color: rgba(255, 0, 0, 0.150);
        }

        &.contacted{
            color: green;
            background-color: rgba(0, 255, 0, 0.150)
        }

        &.checked{
            color: goldenrod;
            background-color: rgba(218, 165, 32, 0.150);
        }
    }
}