.enquiryContainer{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ff0000e4;
    padding: 20px;
    padding-right: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 999;
    color: #470202d6;
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #ccc;
    overflow-y: auto; /* Make the container scrollable */
    max-height: 500px; /* Adjust the max height as needed */
}

.enquiryForm h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.5rem;
  }

  .formGroup {
    margin-bottom: 5px;
  }

  .formGroup label {
    display: block;
    font-weight: bold;
  }

  .formGroup input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }

  .formGroup textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }

  .closeButton{
    cursor: pointer;
    float: right;
    font-weight: bold;
    font-size: 25px;
    color: #470202d6;
  }

  button[type="submit"] {
    background-color: #8a0606d6;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
  }

  button[type="submit"]:hover {
    background-color: #9c0606d6;
  }